<div class="container">
<h1>Submit Form Group</h1>
<form>
    <div class="form-group">
        <label for="mobile"><b>Mobile:</b></label><br>
        <input type="text"  name="mobile" class="form-control">
    </div>

    <pre></pre>
    <div class="form-group">
        <label for="mobile"><b>Email:</b></label><br>
        <input type="text" name="mobile" class="form-control">
    </div>

    <pre></pre>
    <div class="form-group">
        <label for="mobile"><b>NID:</b></label><br>
        <input type="text" name="mobile" class="form-control">
    </div>

    <pre></pre>
    <div class="form-group">
        <label for="broker"><b>Broker:</b></label><br>
        <select name="broker" class="form-select">
            <option selected>...</option>
            <option value="broker1">Broker 1</option>
            <option value="broker2">Broker 2</option>
            <option value="broker3">Broker 3</option>
        </select>
    </div>

    <pre></pre>
    <div class="form-group">
        <label for="boType"><b>BO Type:</b></label><br>
        <div class="form-check">
            <input type="radio" id="individual" name="boType" class="form-check-input" value="individual">
            <label for="individual" class="form-check-label"> Individual</label>
        </div>
        <div class="form-check">
            <input type="radio" id="joint" name="boType" class="form-check-input" value="joint">
            <label for="joint" class="form-check-label"> Joint</label>
        </div>
    </div>
    
<pre></pre>
<div class="form-group">
    <label for="image"><b>Select Image:</b></label><br>
    <div class="row">
        <div class="col-6">
            <input type="file"  name="selectImage" class="form-control w-100">
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</div>

    
</form>
</div>
